[submodule "somatic-sniper"]
	path = somatic-sniper
	url = ssh://git/srv/git/somatic-sniper.git
[submodule "joinx"]
	path = joinx
	url = ssh://git/srv/git/joinx.git
[submodule "vendor/Net-HTTPServer"]
	path = vendor/Net-HTTPServer
	url = ssh://git/srv/git/vendor/Net-HTTPServer.git
[submodule "vendor/File-Grep"]
	path = vendor/File-Grep
	url = ssh://git/srv/git/vendor/File-Grep.git
