[submodule "somatic-sniper"]
	path = somatic-sniper
	url = ssh://git/srv/git/somatic-sniper.git
[submodule "joinx"]
	path = joinx
	url = ssh://git/srv/git/joinx.git
[submodule "vendor/Net-HTTPServer"]
	path = vendor/Net-HTTPServer
	url = ssh://git/srv/git/vendor/Net-HTTPServer.git
[submodule "vendor/File-Grep"]
	path = vendor/File-Grep
	url = ssh://git/srv/git/vendor/File-Grep.git
[submodule "tigra"]
	path = tigra
	url = ssh://git//srv/git/tigra.git
[submodule "genome-music-testdata"]
	path = genome-music-testdata
	url = ssh://git//srv/git/genome-music-testdata.git
[submodule "varscan"]
	path = varscan
	url = ssh://git//srv/git/varscan.git
[submodule "tigra-sv"]
	path = tigra-sv
	url = ssh://git/srv/git/tigra-sv.git
[submodule "breakdancer"]
	path = breakdancer
	url = git://github.com/genome/breakdancer.git
[submodule "genome-db-cosmic"]
	path = genome-db-cosmic
	url = ssh://git//srv/git/genome-db-cosmic.git
[submodule "genome-db-omim"]
	path = genome-db-omim
	url = ssh://git//srv/git/genome-db-omim.git
[submodule "genome-db-pfam"]
	path = genome-db-pfam
	url = ssh://git//srv/git/genome-db-pfam.git
[submodule "bam-readcount"]
	path = bam-readcount
	url = ssh://git//srv/git/bam-readcount.git
[submodule "ur"]
	path = ur
	url = https://github.com/genome/UR.git
[submodule "workflow"]
	path = workflow
	url = ssh://git/srv/git/workflow.git
[submodule "jenkins"]
	path = jenkins
	url = https://github.com/genome/wugc-hudson.git
[submodule "getopt-complete"]
	path = getopt-complete
	url = https://github.com/genome/Getopt--Complete-for-Perl.git
[submodule "bassovac"]
	path = bassovac
	url = ssh://git/srv/git/bassovac.git
[submodule "graphite"]
    path = graphite
    url = https://github.com/genome/graphite.git
[submodule "fqgrep"]
	path = fqgrep
	url = https://github.com/genome/fqgrep.git
[submodule "sff2fastq"]
	path = sff2fastq
	url = https://github.com/genome/sff2fastq.git
[submodule "cron"]
	path = cron
	url = ssh://git/srv/git/genome_cron.git
[submodule "pairoscope"]
	path = pairoscope
	url = ssh://git//srv/git/pairoscope.git
[submodule "alignment_summary"]
	path = alignment_summary
	url = ssh://git//srv/git/alignment_summary.git
[submodule "vendor/tophat"]
	path = vendor/tophat
	url = git@github.com:genome-vendor/tophat.git
[submodule "vendor/libbio-samtools-perl"]
	path = vendor/libbio-samtools-perl
	url = ssh://git/srv/git/vendor/libbio-samtools-perl
[submodule "vendor/samtools"]
	path = vendor/samtools
	url = ssh://git/srv/git/vendor/samtools
[submodule "vendor/bwa"]
	path = vendor/bwa
	url = git://github.com/genome-vendor/bwa.git
[submodule "vendor/apollo"]
	path = vendor/apollo
	url = git@github.com:genome-vendor/apollo.git
[submodule "vendor/mutalin"]
	path = vendor/mutalin
	url = git@github.com:genome-vendor/mutalin.git
[submodule "vendor/cufflinks"]
	path = vendor/cufflinks
	url = git@github.com:genome-vendor/cufflinks.git
[submodule "vendor/velvet"]
	path = vendor/velvet
	url = git@github.com:genome-vendor/velvet.git
[submodule "vendor/samtools-hybrid"]
	path = vendor/samtools-hybrid
	url = git@github.com:genome-vendor/samtools-0.1.7a-hybrid.git
[submodule "vendor/bsmap"]
	path = vendor/bsmap
	url = git@github.com:genome-vendor/bsmap.git
[submodule "vendor/allpathslg"]
	path = vendor/allpathslg
	url = git@github.com:genome-vendor/allpathslg.git
[submodule "vendor/ensembl"]
	path = vendor/ensembl
	url = git@github.com:genome-vendor/ensembl.git
[submodule "vendor/CummeRbund"]
	path = vendor/CummeRbund
	url = git@github.com:genome-vendor/CummeRbund.git
[submodule "tgi-etc"]
	path = tgi-etc
	url = ssh://git/srv/git/genome-tgi-etc.git
[submodule "vendor/pindel"]
	path = vendor/pindel
	url = git@github.com:genome-vendor/pindel.git
[submodule "vendor/dendrix"]
	path = vendor/dendrix
	url = git@github.com:genome-vendor/Dendrix.git
[submodule "vendor/hotnet"]
	path = vendor/hotnet
	url = git@github.com:genome-vendor/HotNet.git
[submodule "vendor/File-lockf"]
	path = vendor/File-lockf
	url = http://github.com/genome-vendor/File-Lockf.git
[submodule "vendor/statgen"]
	path = vendor/statgen
	url = git@github.com:genome-vendor/statgen.git
[submodule "vendor/tophat-fusion"]
    path = vendor/tophat-fusion
    url = git@github.com:genome-vendor/tophat-fusion.git
