Source: libgenome-perl
Section: perl
Priority: optional
Maintainer: Matthew Callaway <mcallawa@genome.wustl.edu>
#Build-Depends: debhelper (>= 7), perl (>= 5.10) | libmodule-build-perl, gcc-snapshot,lib64gcc1,lib64stdc++6,libc6,libc6-amd64,libc6-i686,libc6-xen,libgcc1,libglib2.0-0,libice6,libpcre3,libsm6,libstdc++6,libuuid1,libx11-6,libxau6,libxcb1,libxdmcp6,libxext6,libxmu6,libxp6,libxt6
Build-Depends: debhelper (>= 7), perl (>= 5.10)
Build-Depends-Indep: perl
Standards-Version: 3.8.3

Package: libgenome-perl
Architecture: all
#Depends: ${misc:Depends},${perl:Depends},perl,gcc-snapshot,lib64gcc1,lib64stdc++6,libc6,libc6-amd64,libc6-i686,libc6-xen,libgcc1,libglib2.0-0,libice6,libpcre3,libsm6,libstdc++6,libuuid1,libx11-6,libxau6,libxcb1,libxdmcp6,libxext6,libxmu6,libxp6,libxt6
# FIXME: Utility.pm from /gsc/scripts/lib/perl/Utility.pm
# FIXME: FASTAParse
# FIXME: /gsc/scripts/lib/perl/App.pm # /gsc/scripts/lib/perl/App/
# FIXME: make Bio/Ext/Align
Depends: libtest-fork-perl,libur-perl,libwebservice-solr-perl,libcache-memcached-perl,libtest-mockobject-perl,bioperl,libregexp-common-perl,libmime-lite-perl,libsort-naturally-perl,libanyevent-perl,libasync-interrupt-perl,libtest-class-perl,libexception-class-perl,libmail-sender-perl,libguard-perl,libcarp-assert-perl, libdatetime-perl,libfile-ncopy-perl,libmail-sendmail-perl,libpoe-perl,libpoe-component-ikc-perl,libtext-csv-perl,libmethod-alias-perl,libmoosex-types-perl,libnamespace-autoclean-perl,libmoosex-types-path-class-perl,libstatistics-basic-perl,libmath-basecalc-perl,libgtk2-perl
Description: Genome processing with The Genome Center.
 This is the extended description of this simple perl library to illustrate
 the creation of .deb packages.
