#!/usr/bin/make -f
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
export PREFIX=/usr

PACKAGE=$(shell dh_listpackages)
SITELIB=`perl -MConfig -e 'print "$$Config{installvendorarch}"'`
BUILDROOT=debian/$(PACKAGE)
PERLROOT=$(BUILDROOT)$(SITELIB)
MKDIR=/bin/mkdir
CP=/bin/cp

test:
	@echo $(SITELIB)
	@echo $(PERLROOT)

%:
	dh $@

# FIXME: Skip this until Genome acecheck is fixed.
override_dh_shlibdeps:

# Copy the packages's files.
override_dh_install:
	$(MKDIR) -p $(BUILDROOT)/etc
	$(MKDIR) -p $(BUILDROOT)/usr
	$(MKDIR) -p $(PERLROOT)
	$(MKDIR) -p $(BUILDROOT)/usr/share/java
	$(CP) -pa etc/init.d $(BUILDROOT)/etc
	$(CP) -pa bin $(BUILDROOT)/usr/bin
	$(CP) -pa sbin $(BUILDROOT)/usr/sbin
	$(CP) -pa lib/perl/* $(PERLROOT)
	$(CP) -pa lib/java/* $(BUILDROOT)/usr/share/java
