Package: genome-snapshot-deps
Version: 2012.04.09-2
Architecture: all
Maintainer: The Genome Institute <gmt@genome.wustl.edu>
Installed-Size: 32
Depends: genome-snapshot-deps-perl (>= 2012.04.09-3)
Provides: genome
Section: science
Priority: optional
Description: This meta-package installs all dependencies of the current TGI Genome Modeling System software snapshot.
